// Form styles
[am-container~="form-wrapper"] {
  [am-block-height] {
    position: relative;
    min-height: 320px;
    display: block;

    & > label {
      position: relative;
      padding-top: cRem(30);
      margin-top: cRem(30);
      margin-bottom: cRem(15);

      // Do we need this???
      &:before {
        position: absolute;
        top: 0;
        width: 75px;
        height: 1px;
        content: "";
        background-color: #ffffff;
        display: block;
        left: -37px;
      }
    }

    input {
      margin-bottom: 0;
    }
  }

  li {
    padding-bottom: cRem(10);
  }
}