html {
  height: 100%;
  position:relative;
}

body {
  position: relative;
  background-color: map-get($color, "black");
  height: 100%;
  color: map-get($color, "white");

  [am-wrapper] {
    padding: cRem(50) 0;

    @media #{$above-md} {
      padding: cRem(75) 0;
    }

    &[am-wrapper="gradient"] {
      //@include gradient(map-get($color, "grad-1"), map-get($color, "grad-2"));
    }
  }
}