<div am-container="form-wrapper">
  <div am-row>
    <div am-col="sm-12">
      <p>Answer a few questions about your day, what you did and how you are feeling and you will get your very own unique soundtrack for your day based on your answers.</p>
    </div>
  </div>

  <form ng-submit="processForm()">
    <div am-block-height>
      <div *ngFor="let question of questions">
        <div *ngIf="question.page == page">
          <div am-row>
            <label am-col="12">{{question.question}}</label>
          </div>

          <ul am-row>
            <li *ngFor="let answer of question.answers; let isFirst = first" am-col="sm-4 md-3">
              <label>
                <input
                  type="radio"
                  name="{{answer.name}}"
                  ng-model="formData.one"
                  value="{{answer.value}}"
                  [checked]="answer.id === 0">
                  {{answer.text}}
              </label>
            </li>
          </ul>
        </div>
      </div>

      <div class="form-buttons">
        <a
          (click)="next(page, ans1, ans2)"
          class="button">Next</a>

        <button
          class="reset"
          (click)="reset()">Reset</button>

      </div>
    </div>
  </form>
</div>