<div am-container="form-wrapper">
  <div am-row>
    <div am-col="sm-12">
      <p>Answer a few questions about your day, what you did and how you are feeling and you will get your very own unique soundtrack for your day based on your answers.</p>
    </div>
  </div>

  <div am-row *ngIf="page == 8">
    <div am-col="sm-12" am-align="center">
      <span
        am-button
        (click)="submit()">Get your soundtrack</span>
    </div>
  </div>

  <form *ngIf="page != 8">
    <div am-block-height>
      <div *ngFor="let question of questions">
        <div *ngIf="question.page == page">
          <div am-row>
            <label am-col="12">{{question.question}}</label>
          </div>

          <ul am-row>
            <li *ngFor="let answer of question.answers; let isFirst = first" am-col="sm-4 md-3">
              <label>
                <input
                  type="radio"
                  name="q-{{question.id}}"
                  [checked]="answer.id == 0"
                  (change)="onSelectionChange(answer, question.id, question.page)">
                  {{answer.text}}
              </label>
            </li>
          </ul>
        </div>
      </div>

      <span
        am-button
        (click)="next()">Next</span>

      <span
        am-button="reset"
        (click)="reset()">Reset</span>

    </div>
  </form>
</div>